.parent{
  display: flex;
  flex-direction: row;
}
.parent{
  border: 2px solid blue;
}
table{
  width: 90%;
}
td{
  padding: 4%;
}
tr:nth-child(even){
  background: #ddd;
}
a{
  word-wrap: break-word;
}


.childone{
  width: 20%;
  border: 2px solid red;
  padding: 2%;
  margin: 2%;
  border-radius: 3%;
  font-size: 30px;
  background-color: darkblue;
}


.childtwo{
  width: 80%;
  border: 2px solid yellow;
  padding:2%;
  margin: 2%;
  font-size: 30px;
  border-radius: 3%;
  background-color: pink;
}

img{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 6px 9px 8px blue;
}


@media only screen and (min-width: 320px) and (max-width: 480px){
  .parent{
    display: flex;
    flex-direction: column;
  }
  .parent{
    border: 2px solid blue;
  }

  a{
    word-wrap: break-word;
  }

  .childone{
    width: 100%;
    border: 2px solid red;
    padding: 8%;
    margin: 2%;
    font-size: 30px;
    border-style:glazed;
    border-radius: 10%;
    background-color: skyblue;
  }


  .childtwo{
    width: 100%;
    border: 2px solid yellow;
    padding: 16%;
    margin: 2%;
    border-radius: 10%;
    background-color: skyblue;
  }

  img{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 6px 9px 8px blue;
  }
}
